{{ ansible_managed | comment }}

# Minio local/remote volumes.

MINIO_VOLUMES="{% for storage_node in minio_server_cluster_nodes %}
{% for storage_dir in minio_server_datadirs %}
http{{ (minio_tls_enable == true) | ternary('s', '') }}://{{ storage_node }}{{ storage_dir }} \
{% endfor %}
{% endfor %}"

# Minio cli options.
MINIO_OPTS="{{ minio_server_opts }} \
--address '{{ minio_server_addr }}' \
--console-address '{{ minio_console_addr }}' \
"

{% if minio_access_key %}
# Access Key of the server.
MINIO_ACCESS_KEY="{{ minio_access_key }}"
{% endif %}

{% if minio_secret_key %}
# Secret key of the server.
MINIO_SECRET_KEY="{{ minio_secret_key }}"
{% endif %}

{% if minio_prometheus_url %}
MINIO_PROMETHEUS_URL="{{ minio_prometheus_url }}"
{% endif %}

{{ minio_server_env_extra }}
